*{
    margin: 0;
    padding: 0%;
    list-style: none;

}

body{
    height: 100%;
    width:100%;

}

html{
    height: 100%;
    width:100%;
}

div.show_panel{
    height: 27%;
    width: 30%;
    margin-left:35%;
    margin-top:10%;
    border: 5px solid #93c3ec;
    border-radius: 10px
}





